<?php
return array(   'navigation'=>
        array('default'=>array(
                    'conference'=>array('visible'=>false),
                    'register'=> array(
        						'label'=>'регистрация',
        						'title'=>'регистрация IP АТС',
        						'route'=>'wizard',
        						'module'     => 'vpbxui',
        						'controller' => 'Saas\Controller\VpbxWizard',
        						'action'     => 'index',
        						'resource'   => 'mvc:registerpbx.vpbxui',
        						'visible'    => true,
        						'pages'=>array(
      
        				'step1'=> array(
        						'label'=>'шаг 1',
        						'title'=>'регистрация IP АТС',
        						'route'=>'wizard',
        						'module'     => 'saas',
        						'controller' => 'Saas\Controller\VpbxWizard',
        						'action'     => 'step1',
        						'resource'   => 'mvc:vpbxwizard.saas',
        						'visible'    => true,
        						'pages'=>array(
        				
        						'step2'=> array(
        								'label'=>'шаг 2',
        								'title'=>'регистрация IP АТС',
        								'route'=>'wizard',
        								'module'     => 'saas',
        								'controller' => 'Saas\Controller\VpbxWizard',
        								'action'     => 'step2',
        								'resource'   => 'mvc:vpbxwizard.saas',
        								'visible'    => true,
        								'pages'=>array(
        						
        						
        								'step3'=> array(
        										'label'=>'шаг 3',
        										'title'=>'регистрация IP АТС',
        										'route'=>'wizard',
        										'module'     => 'saas',
        										'controller' => 'Saas\Controller\VpbxWizard',
        										'action'     => 'step3',
        										'resource'   => 'mvc:vpbxwizard.saas',
        										'visible'    => true,
        										'pages'=>array(
        								
        										'overview'=> array(
        												'label'=>'просмотр',
        												'title'=>'просмотр',
        												'route'=>'wizard',
        												'module'     => 'saas',
        												'controller' => 'Saas\Controller\VpbxWizard',
        												'action'     => 'overview',
        												'resource'   => 'mvc:vpbxwizard.saas',
        												'visible'    => true,
        												'pages'=>array(
        												    'step4'=> array(
        												        'label'=>'шаг 4',
        												        'title'=>'регистрация IP АТС',
        												        'route'=>'wizard',
        												        'module'     => 'saas',
        												        'controller' => 'Saas\Controller\VpbxWizard',
        												        'action'     => 'step4',
        												        'resource'   => 'mvc:vpbxwizard.saas',
        												        'visible'    => true,
         												       )
        												    )
        										),
        								
        								
        										)
        								),
        						
        								)
        						),
        				
        				
        						)
        				),
        				
        			)
        		),
    )));